    /*Início Efeito nav*/
    
    a:visited {
        color: #191970;
    }
    
    a:hover {
        color: #0000FF;
        text-decoration: none;
    }
    /*Fim Efeito nav*/
    
    .logotipo {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        background-color: #1C1C1C;
        color: floralwhite;
    }
    
    #logo {
        margin-top: 10px;
        width: 200px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .containerNav {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    li {
        display: inline;
        margin-left: 15px;
    }
    
    .hr {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .titulosH1 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #txtHome {
        text-align: justify;
        font-size: 18px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .ptxtHome {
        margin-top: 15px;
    }
    
    #linkSaibaMais {
        text-decoration: underline;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    h1,
    h2,
    p {
        color: #191970;
    }
    /*remove subrinhado de todos os links do site*/
    
    a {
        text-decoration: none;
    }
    
    .tbimg {
        width: 370px;
        height: 204px;
        margin-left: 5px;
    }
    
    footer {
        height: 200px;
        margin-top: 50px;
        margin-bottom: 20px;
        background-color: #1C1C1C;
        margin-top: 20px;
    }
    
    td>p {
        margin-left: 20px;
        margin-top: 10px;
        text-align: right;
        color: gainsboro;
        width: 600px;
    }
    
    .linkfooter {
        color: gainsboro;
    }
    
    iframe {
        width: 200px;
        height: 150px;
        margin-right: -200px;
    }