    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif, 'Times New Roman', Times, serif;
    }
    /*Início Efeito nav*/
    
    a:visited {
        color: #191970;
    }
    
    a:hover {
        color: #0000FF;
        text-decoration: none;
    }
    /*Fim Efeito nav*/
    
    .logotipo {
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        background-color: #1C1C1C;
        color: floralwhite;
    }
    
    .containerNav {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
   li {
        display: inline;
        margin-left: 15px;
    }
    
    .hr {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .titulosH1 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #txtHome {
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .ptxtHome {
        margin-top: 15px;
    }
    
    #linkSaibaMais {
        text-decoration: underline;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    h1,
    h2,
    p {
        color: #191970;
    }
    /*remove subrinhado de todos os links do site*/
    
    a {
        text-decoration: none;
    }
    
    img {
        width: 400px;
        height: 200px;
    }
    
    .img {
        width: 400px;        
        margin-left: auto;
        margin-right: auto;
    }
    
    footer {
        margin-top: 50px;
        margin-bottom: 20px;
        background-color: #1C1C1C;
        margin-top: 20px;
    }

    footer>p{
        text-align: center;
        color: gainsboro;
    }

    .linkfooter{
        color: gainsboro;
    }

    iframe {
        width: 200px; 
        height: 150px;
        margin-left: auto;
        margin-right: auto;
            }