    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif, 'Times New Roman', Times, serif;
    }
    
    #page {
        max-width: 940px;
        /*min-width: 720px;*/
        margin: 10px auto 10px auto;
        padding: 20px;
        background-color: #ffffff;
    }